@media (max-width: 480px) {

	/* loader section */
	svg {
		/* the loader svg has been made at bit bigger for mobile devies */
		height: auto;
		width: 13%;
	}

	/* Profile section */
	.profile {
		margin-top: 100px;
	}

	.profile-img img {
		/* The only thing that has changes in this section is the dimensions of image + margin at top*/
		border-radius: 10px;
		display: block;
		height: 250px;
		image-rendering: -webkit-optimize-contrast;
		margin: auto;
	}

	.profile-text {
		/* in this section the text size is changed and its alignment */
		margin-top: 20px;
		text-align: center;
	}

	.profile-text p {
		font-size: .9rem;
	}
}